body {
    background-color: #f8f9fa;
}

.hero {
    background: linear-gradient(135deg, #1975ff, #6100fe);
    color: white;
    padding: 30px 0;
    text-align: center;
}

img {
    width: 10%;
    height: auto;
}

.card-body {
    height: 30dvh;
}